---
const siteTitle = "Masa";
const siteDescription = "Masa – it shows time.";
const siteUrl = "https://longyc.com/masa/";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{siteTitle}</title>
		<meta name="description" content={siteDescription} />
		<meta name="theme-color" content="#f5f5f5" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#1f1f1f" media="(prefers-color-scheme: dark)">
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={siteUrl} />
		<meta property="og:title" content={siteTitle}/>
		<meta property="og:description" content={siteDescription} />
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content={siteUrl} />
		<meta name="twitter:title" content={siteTitle} />
		<meta name="twitter:description" content={siteDescription} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #f5f5f5;
		color: #1f1f1f;
	}

	@media (prefers-color-scheme: dark) {
		html,
		body {
			background-color: #1f1f1f;
			color: #f5f5f5;

			a {
				color: #fac116;
			}
		}
  }
</style>
